body{
    background: linear-gradient(#2A00B7,#42006C);
}
.parent{
    background: linear-gradient(#2A00B7,#42006C);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
  
}
.container{
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 20px;
    width: 600px;
    height:620px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color: #3c009d;
    font-size: 48px;
    font-weight: 700;
}
.underline{
    width: 61px;
    height: 6px;
    background: #3c009d;
    border-radius: 9px;
}
.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 100%;
}
.input{
display: flex;
align-items: center;
margin: auto;
width: 80%;
height: 10vh;
background: #eaeaea;
border-radius: 6px;
}
.input img{
    margin: 0px 30px;
}
.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 19px;

}

.forgot-password{
    padding-left: 10%;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}

.forgot-password span{
    color: #4c00b4;
    cursor: pointer;

}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 55px;
    color: #fff;
    background: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}
.gray{
    background: #eaeaea;
    color: #676767;
}